# **Assignment 2 Part 2**

### Assignment Instructions

* **How to install 'otter'**: Run `pip install otter-grader` in your Anaconda Command Prompt
* **Otter**: It is an autograder that we will be using for grading your notebooks.
* **grader.check('qn')**: This command runs test cases for nth question `qn` provided to you and displays the result. But these are not the only test cases, these are provided just for your basic testing. There will be some *hidden test cases* on which your answers will be tested as well.
* You are **not** allowed to edit any pre-defined variables and as per the instructions for every question you have to assign your answers to these variables.
* Write your answers in place of `...` and `pass`
* Hardcoded answers will get `zero` marks

### Submission Instructions

* There are two parts of this assignment. You should name both notebooks as **YourRollNumber_PartNumber.ipynb**. (e.g. this part should be named as *`2XXXXXXX_2.ipynb`*)
* You must submit a zip file containg just two notebooks and it must not has any folder or any other file. 
* The name of the zip file must be your `Roll Number`

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import pyplot
import seaborn as sns
from statsmodels.graphics.gofplots import qqplot

In [ ]:
import otter
grader = otter.Notebook()

In [ ]:
# Do not change this cell

df_2019 = pd.read_csv('2019.csv', encoding='latin-1')
df_2020 = pd.read_csv('2020.csv', encoding='latin-1')
df_2021 = pd.read_csv('2021.csv', encoding='latin-1')

In [ ]:
# Standardizing the column names
df_2019.columns = df_2019.columns.str.lower()
df_2020.columns = df_2019.columns.str.lower()
df_2021.columns = df_2019.columns.str.lower()

# Restructuring the column indexes
df_2019 = df_2019[['rank', 'university', 'region', 'academic reputation', 'employer reputation', 'faculty student', 'international faculty','international students', 'citations per faculty', 'overall score'] ]
df_2020 = df_2020[['rank', 'university', 'region', 'academic reputation', 'employer reputation', 'faculty student', 'international faculty','international students', 'citations per faculty', 'overall score'] ]
df_2021 = df_2021[['rank', 'university', 'region', 'academic reputation', 'employer reputation', 'faculty student', 'international faculty','international students', 'citations per faculty', 'overall score'] ]

Let's check a few rows from each dataframe

In [ ]:
df_2019.sample(5)

In [ ]:
df_2020.sample(5)

In [ ]:
df_2021.sample(5)

Let's also see where we stand in terms of Null values and data types

In [ ]:
df_2019.info()
df_2020.info()
df_2021.info()

So, all good!

Notice that there is no 'year' column in any of the dataframe. As your first task, append an appropriate 'year' column in each dataframe.

**Q1.** Add a column 'year' in each dataframe. It must correspond to the year for which the data is represented. (2)

In [ ]:
#Add code here

In [ ]:
grader.check("q1")

**Q2.** Next, find the count of universities in each region that made it to the Top 100 each year. Print all of them in the same cell. (2)
<br> You will have three aggregated objects. Name them a,b,c for data belonging to 2019,2020,2021 respectively.

In [ ]:
#Add code here

In [ ]:
grader.check("q2")

**Q3.** Using your answer to the previous question, visualize the count of universities in each region that made it to the Top 100 (for the year 2021). Note: you have to use a suitable visualization. (3)

In [ ]:
#Add code here

**Q4.** Sort the 2020 dataframe based on overall score in an ascending order. (1)

In [ ]:
#Add code here

In [ ]:
grader.check("q4")

**Q5.** Drop the rank column from all dataframes (2019,2020,2021). (1)

In [ ]:
#Add code here

In [ ]:
grader.check("q5")

**Q6.** Create a new dataframe called "USA_2020", containing only universities which belong to the USA region from 2020 dataframe. Remove the 'year' and 'region' column from this dataframe. (2)

In [ ]:
#Add code here

In [ ]:
grader.check("q6")

**Q7.** In the 'USA_2020' dataframe, make the 'university' column the index of the dataframe. (2)

In [ ]:
#Add code here

In [ ]:
grader.check("q7")

**Q8.** Using only the following attributes: 'academic reputation','employer reputation','faculty student','international faculty','international students','citations per faculty','overall score'. <br> Represent USA_2020 dataframe using a box and whisker plot. Do you observe any anomalies in any of them? (8)
<br>**Note:** They should be in the same cell, but not necessarily in the same figure.<br>

In [ ]:
#Add code here

**Q9.** Create a new dataframe called "USUK_2021". This dataframe will contain all universities in the "USA" and "UK" region. Once created, remove the 'year' and 'rank' column. Also, set the index of the "USUK_2021 to the "university" column. (3)<br>
**Note:** Very similar to Question 6 and the data to be used should belong to 2021 and not 2020.

In [ ]:
#Add code here

In [ ]:
grader.check("q9")

**Q10.** Represent all the attributes in the USUK_2021 dataframe using a scatter plot. Do you observe any general trend? (5+2) <br>
**Note:** They should be in the same cell, but not necessarily in the same figure.<br>

In [ ]:
#Add code here

Let's finally look at an useful tool to get an idea about how different variables are corelated to each other. We call it a **correlation matrix** <br>
A correlation matrix provides a correlation coefficient (a number between -1 and 1) that tells how strongly two variables are correlated. Values closer to -1 mean strong negative correlation whereas values closer to 1 mean strong positve correlation. Values closer to 0 show variables having no or little correlation. <br>

**Q11.** Plot a correlation matrix to see how each variable is correlated to another. You can use the data from df_2019 . (3) <br> Provide a reasonable interpretation of the values obtained in the Correlation matrix. (1)

In [ ]:
#Add code here

**How employable are you if you attend one of the top ten universities in the world? Let's find out.** <br><br>
**Q12.** Create a smaller dataframe which has the top ten universities from each year (based on overall score). Remove all columns except the 'employer reputation' column. We will be evaluating the top ten universities based on their employer reputation scores. Name the resultant dataframe, "resultant_df". (3) <br>
Hint: 

*   There will be four columns in the dataframe you make. One for the university name and the other three for their employer reputation scores across three years' data.
*   The top ten universities are same across the three years (by overall scores). Only their rankings differ.
*   Use the merge function. You can read more about how to use it in the documentation: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html
*   Shape of the resultant dataframe should be (10, 4)

In [ ]:
#Add code here

In [ ]:
grader.check("q12")

**As you noticed that when you merged, Pandas auto-assigned the column names. Let's change them.** <br><br>
**Q13.** For the columns representing scores, rename them such that they describe the data that the column holds. (3)

In [ ]:
#Add code here

In [ ]:
grader.check("q13")

**Q14.** Draw a suitable plot to show how the employer reputation scores of the Top 10 universities varied over the three years. Clearly label your graph and attach a legend. Add a reasonable interpretation of the plot as comments in your code below. (4)<br> <br>
Note 1: All universities must be in the same plot.<br>
Note 2: Your graph should be clear and legend should be placed suitably .

In [ ]:
#Add code here

**This question is about Kernel density estimates (KDE). Please refer to your slides if you do not understand this concept properly. <br> <br>
**Q15.** Plot the Kernel density estimate (KDE) of all attributes of score from the USUK2021 dataframe. (5) <br>

**Note 1:** If you think there is any variable that does not need to be plotted, leave a rationale for it in the form of a comment before the graphs code.<br>
**Note 2:** There should be just one figure having all the plots. Make a suitable legend alongside.

In [ ]:
#Add code here

**You have reached the end of this assignment. Please check whether you have labelled all axes, titles, legends etc. These will carry a good weightage of marks. Have a good day!**